<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>To do</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	 crossorigin="anonymous">
	<style media="screen">
		body {
			background-color: #007bff;
			text-align: center;
		}

		h1,
		h2 {
			text-decoration: underline;
		}

		#task-input {
			width: 50%;
			margin: 30px auto;
		}

		.task-card {
			background-color: transparent;
			border-color: black;
		}
	</style>
</head>

<body>
	{{{ body }}}
</body>

</html>